__pycache__/
*.py[cod]
*.pyd
.Python
*.egg-info/
.eggs/
dist/
build/
*.obj
*.exe
*.dll
!src/antipc/antipc_native.dll
!src/antipc/k3hash.dll
.vs/
.vscode/
CMakeFiles/
cmake-build-*/
**/native/antipc_core/build/
*.pyc
output/*.json
output/*.csv
output/*.gif
output/*.png
*.log
.DS_Store
Thumbs.db
*.zip
"Nueva carpeta comprimida*.zip"